<head>
    <style>
        .black-font {
            color: black;
        }

        .slightly-big-subtitle {
            font-size: 60px;
            color: gray;
        }
        
        .left-text-margin {
            margin-left: 5px;
        }

    </style>
</head>
<div class="container-fluid">
    <div class="row left-text-margin">
        <div class="div-col-6">
            <div class="slightly-big-subtitle">
                Email:
                <a href="mailto:laynebritton1998@gmail.com">laynebritton1998@gmail.com</a>
                <br>
                Phone: <span class="black-font"> 971-999-1739 </span>
            </div>
        </div>
    </div>
</div>