<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<mat-toolbar>
  <span>
    <!-- Layne Britton -->
  </span>

  <div>
    <button mat-button routerLink=".">About</button>

    <button mat-button routerLink="/resume">Resume</button>

    <button mat-button routerLink="/contact">Contact</button>

  </div>

    


</mat-toolbar>


<router-outlet></router-outlet>