<head>
    <style>
        #resume-photo {
            display: inline-block;
            width: 50%;
            float: right;
            padding: 10px;
            margin-right: 3%;
            border-radius: 50%;
        }

        .left-text-margin {
            margin-left: 5px;
        }

        .resume-row-body {
            margin-bottom: 3%;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h1>Layne Britton</h1>

            <i>
                Junior Software Developer at JRI America<br>
                B.A. in Computer Science, Columbia University<br>
            </i>

            <br>

            <a href="https://docs.google.com/document/d/1ntg-qp8GKCgLZqkCdXmn6jiNTcvupTqnP4o6Cp7Zqe4/edit?usp=sharing"
                target="_blank">Resume PDF</a> <br>
            <a href="https://github.com/laynebritton" target="_blank">GitHub</a><br>
            <!-- <a href="https://drive.google.com/drive/folders/1DqafszxYGvPfDzOkRYyEKPpo_4fjEBru?usp=sharing" target="_blank">Writing Samples</a><br> -->

            <br>

            <a href="mailto:laynebritton1998@gmail.com">laynebritton1998@gmail.com</a>
            /
            971-999-1749
            / <a href="https://www.linkedin.com/in/layne-britton-85339b149/" target="_blank">LinkedIn</a><br>
        </div>

        <div class="col-md-3">
            <img src="../../assets/img/layne2.png" id="resume-photo">
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <br>

            <h2>Bio</h2>

            <p>
                Right now I'm a
                Junior Software Developer
                at
                JRI America in New York. JRI America is a tech subidiary of the Sumitomo Mitsui Banking
                Corporation.

            <p>
                I previously interned as Software Engineer and Analyst at Computers Unlimited, a
                medical tech company based out of Billings, MT.
                <br>
                While in university, I tutored introductory computer science to elementary school students in
                NYC.
                <br>
                <br>
                In addition to tech, I also have a lot of interest in the humanities!
                I have volunteered for political activism groups, taught an intro to computer science class in
                my hometown in Montana, and am actively
                looking for ways to use my education to provide a positive impact in others' lives.

                <!-- <br>
                    <br>
                    This website serves as a more in-depth look at my experiences and career. For a more brief
                    overview, please check out my
                    <a href="https://docs.google.com/document/d/1ntg-qp8GKCgLZqkCdXmn6jiNTcvupTqnP4o6Cp7Zqe4/edit?usp=sharing"
                        target="_blank">resume</a>. -->
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <h2> Education </h2>
            <p>
                Columbia University - Columbia College <span style="float: right;">August 2018 - May 2020</span>
                <br>
                Bachelor of Arts, Computer Science, 3.60 GPA

            <p>
                Rocky Mountain College <span style="float: right;">August 2016 - May 2018 (Transferred)</span>
                <br>
                Bachelor of Science, Computer Science, 3.83 GPA
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <h2> Work Experience </h2>
            <p>
                JRI America - Junior Software Developer <span style="float: right;">July 2020 -
                    Current</span>
            <ul>
                <li>Developer on internal financial applications used by analysts of Sumitomo Mistsui Banking
                    Corporation.</li>
                <li>Work on the full tech stack. Implementing business logic in the Java API, working with the SQL
                    database, and creating interactivity through webapps written using Angular.</li>

            </ul>
            <p>
                Computers Unlimited - Software Engineer and Analyst Intern <span style="float: right;">May 2019 -
                    January 2020</span>
            <ul>
                <li>Designed and implemented a project to add usage of a NoSQL database and search engine,
                    Elasticsearch, to a 20+ year old software application. Written in C#, the implementation
                    vastly sped up time to search and reduced hardware requirements.</li>
                <li>Created a RESTful API and load testing environment to allow developers to gather performance
                    metrics after making changes to system calls in the software.</li>
            </ul>
            <p>
                ServiceTarget - Full Stack Developer Intern <span style="float: right;">May 2018 - February
                    2019</span>
            <ul>
                <li>Designed and implemented an audit logging system that created and monitored audits after a
                    customer modified metadata. Worked in the entire service pipeline; building logic in the
                    Java API, visualizing the data in the Angular front-end using TypeScript, and writing
                    automated regression testing for the front-end.</li>
                <li>Wrote queries to pull data, stored in AWS Dynamodb, and set up tables to store this data.
                    Additionally wrote a
                    data-fixer to parse through old data and modify data fields.
                </li>
            </ul>
            <p>
                Rocky Mountain College - IT Technician <span style="float: right;"> September 2016 - June
                    2018</span>
            <ul>
                <li>Leader of student technical support. Often researched solutions to technical issues
                    to assist students in repairing software issues with personal computers.</li>
                <li>Assisted the Linux Systems Administrator to use Linux Bash and Windows Powershell to
                    automate Windows computer domain migration.</li>
            </ul>
            <p>
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <h2> Extracurricular Experience</h2>
            <p>
                Freelance Tutoring - Elementary Computer Science Tutor <span style="float: right;">February 2019 -
                    March 2020</span>
            <ul>
                <li>Focused on teaching fundamental computer science concepts to help students strengthen understandings
                    of
                    sequencing, logic problem solving, and variable math. Used Code.org and Scratch to work on coding
                    problems.</li>
            </ul>
            <p>
                Boys & Girls Club of America - Computer Science Teacher <span style="float: right;">February 2017 -
                    June 2018</span>
            <ul>
                <li>Constructed and taught a weekly program that introduced elementary school students to computer
                    programming by creating games. Used Scratch to introduce students to fundamental programming
                    ideas and later worked in a variant of Basic to have students experience writing code.</li>
            </ul>
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <h2>Projects</h2>
            <ul>
                <li>Lit Hum Fighting Video Game - 2D two-player video game designed and programmed as a creative project
                    for the course Literature Humanities at Columbia University. Awarded as a <a
                        href="https://www.college.columbia.edu/core/scholars/scholar/4135" target="_blank">Core Scholar
                        Project at Columbia University</a>. The game served to examine the process
                    of translating written text to an interactive medium. Features major
                    characters from the course's syllabus. <a href="http://www.columbia.edu/~lmb2289/lit-hum-game/"
                        target="_blank">Check it out here.</a></li>
            </ul>
            <ul>
                <li>laynebritton.net - This website! Designed and built up a personal portfolio website. It's a web app
                    built using
                    Angular and Bootstrap, hosted on Google Cloud's compute engine using Cloud DNS, and uses apache2 for
                    its http
                    server.
            </ul>

        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">

            <h2>Academic Involvement</h2>
            <ul>
                <li>Columbia University College Democrats - Get out the vote volunteer group leader. Contributed to
                    winning a congressional district in 2018 and many state assembly wins in 2019. </li>
                <li>Sunrise Movement - Activist for progressive climate change policy</li>
                <li>Rocky Mountain College eSports Club - President and Founder</li>
                <li>Rocky Mountain College Student Government - Vice President</li>
            </ul>

            <!-- <ul>
                <li>Columbia University College Democrats - Get out the vote volunteer group leader. Contributed to
                    winning a congressional district in 2018 and many state assembly wins in 2019. <span style="float: right;"> October 2018 - May
                        Ongoing</span></li>
                <li>Sunrise Movement - Activist for progressive climate change policy <span style="float: right;"> December 2018 - May
                    2019</span></li>
                <li>Residence Hall Association - President <span style="float: right;"> September 2016 - May
                    2018</span></li>
                <li>Rocky Mountain College eSports Club - President and Founder <span style="float: right;"> September 2017 - May
                    2018</span></li>
                <li>Rocky Mountain College Student Government - Vice President <span style="float: right;"> September 2016 - May
                    2018</span></li>
            </ul> -->
        </div>
    </div>

    <div class="row resume-row-body">
        <div class="col-md-9">
            <h2>Presentations</h2>

            <ul>
                <li>TRiO Educational Talent Search - Taught Intro to Computer Science workshop - Created a 3 hour
                    lecture/workshop to introduce students from low-income economic backgrounds to computer science.
                    Began with an intro that included some sequencing puzzles, and then moved to Scratch to create a
                    chase game. The lecture slides were created by me and can be viewed <a
                        href="https://docs.google.com/presentation/d/1c5ltvt25CIO-7SnW3-AXbp6JIxY8_JsNzoes_1RrwSs/edit?usp=sharing"
                        target="blank">here</a>. The chase game was based off the suggested <a
                        href="https://resources.scratch.mit.edu/www/guides/en/EducatorGuidesAll.pdf"
                        target="blank">educator guides provided by MIT</a>. The workshop used those slides in junction
                    with whiteboarding exercises to explore foundational computer science concepts.</li>
                <li>Columbia Splash - Taught Intro to Game Design to a high school group - Created a 2 hour
                    discussion-based class on the
                    design of a few of gaming's foundational concepts. <a
                        href="https://docs.google.com/presentation/d/1DGqsJs0gKjRWTRGiLvTSrA4W8RNTELklVh6rCPvEV_I/edit?usp=sharing"
                        target="_blank">Link to the slideshow presented during the class</a></li>

            </ul>
        </div>
    </div>




</div>