<p>archived-resume works!</p>

<p>
    Montana State University - Billings <span style="float: right;">June 2014 - May 2016</span>
    <br>
    General education

    <p>
        I formally began my college education at Rocky Mountain College in Billings, MT. After
        working towards degree progress for two years, I transferred to Columbia University to
        finish my undergrad studies there.

        <p>
            During my sophomore, junior, and senior years of high school I took university
            courses at Montana State University Billings, alongside high school classes to get a
            head start on my college education.

            <hr>